body {
    background-color: #f8f5e3;
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, #40e0d0 1px, transparent 1px),
      linear-gradient(to bottom, #40e0d0 1px, transparent 1px);
  }

.title {
    font-family: "Indie Flower", Arial;
    font-size: 50px;
    text-align: center ;
}

#hangman_container{
    display: inline;
    margin-right: 25%;
}

#wordDisplay{
    font-family: "Indie Flower", Arial;
    font-size: 40px;
    display: inline;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(20%, 200%);
}

.keyboard {
    display: inline;
    margin-left: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(30%, 150%);
}

.row {
    display: flex;
    justify-content: center;
}

.key {
    font-family: "Indie Flower", Arial;
    background-color: #40e0d0;
    font-size: 30px;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease; 
}

.key:hover {
    background-color: #32a89d; 
}

.key:active {
    background-color: #1e7368;
}

.clicked-invalid {
    background-color: #ff0000;
    color: #ffffff; 
}

.clicked-valid {
    background-color: rgb(6, 192, 6);
    color: #ffffff;
}